apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: student-container
        image: kruthim/student-app:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
